spring:
  application:
    name: OdengFinance
  liquibase:
    enabled: true
    change-log: classpath:liquibase/master.xml
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/playground_db
    username: postgres
    password: postgres
  jpa:
    properties:
      hibernate:
        format_sql: true
        show_sql: true
        jdbc:
          time_zone: UTC
